:root {
  --primatyblack: rgba(0, 0, 0, 1);
  --primatypink-dark: rgba(148, 80, 105, 1);
  --primatypink-light: rgba(242, 212, 220, 1);
  --primatycyan-dark: rgba(43, 120, 139, 1);
  --primatycyan-light: rgba(195, 220, 227, 1);
  --primatygrey-light: rgba(246, 245, 244, 1);
  --primatygrey-medium: rgba(224, 224, 224, 1);
  --primatygrey-icon: rgba(186, 186, 186, 1);
  --primatygrey-dark: rgba(117, 117, 117, 1);
  --secondarycyan: rgba(89, 150, 165, 1);
  --secondarygreen: rgba(99, 155, 109, 1);
  --secondarypink: rgba(161, 89, 147, 1);
  --secondaryred: rgba(169, 81, 81, 1);
  --secondaryyellow: rgba(196, 162, 76, 1);
  --secondaryorange: rgba(203, 91, 67, 1);
  --headings-heading-1-font-family: "DelaGothic One-Regular", Helvetica;
  --headings-heading-1-font-weight: 400;
  --headings-heading-1-font-size: 56px;
  --headings-heading-1-letter-spacing: -2.24px;
  --headings-heading-1-line-height: 120.00000476837158%;
  --headings-heading-1-font-style: normal;
  --headings-heading-2-font-family: "DelaGothic One-Regular", Helvetica;
  --headings-heading-2-font-weight: 400;
  --headings-heading-2-font-size: 48px;
  --headings-heading-2-letter-spacing: -1.92px;
  --headings-heading-2-line-height: 100%;
  --headings-heading-2-font-style: normal;
  --headings-heading-3-font-family: "DelaGothic One-Regular", Helvetica;
  --headings-heading-3-font-weight: 400;
  --headings-heading-3-font-size: 32px;
  --headings-heading-3-letter-spacing: -1.28px;
  --headings-heading-3-line-height: 100%;
  --headings-heading-3-font-style: normal;
  --headings-heading-4-font-family: "DelaGothic One-Regular", Helvetica;
  --headings-heading-4-font-weight: 400;
  --headings-heading-4-font-size: 26px;
  --headings-heading-4-letter-spacing: -1.04px;
  --headings-heading-4-line-height: 100%;
  --headings-heading-4-font-style: normal;
  --button-button-1-font-family: "Montserrat-Bold", Helvetica;
  --button-button-1-font-weight: 700;
  --button-button-1-font-size: 18px;
  --button-button-1-letter-spacing: -0.72px;
  --button-button-1-line-height: 139.9999976158142%;
  --button-button-1-font-style: normal;
  --button-button-2-font-family: "Montserrat-Bold", Helvetica;
  --button-button-2-font-weight: 700;
  --button-button-2-font-size: 16px;
  --button-button-2-letter-spacing: -0.64px;
  --button-button-2-line-height: 100%;
  --button-button-2-font-style: normal;
  --button-text-body-1-font-family: "Montserrat-SemiBold", Helvetica;
  --button-text-body-1-font-weight: 600;
  --button-text-body-1-font-size: 18px;
  --button-text-body-1-letter-spacing: -0.72px;
  --button-text-body-1-line-height: 139.9999976158142%;
  --button-text-body-1-font-style: normal;
  --button-text-body-2-font-family: "Montserrat-SemiBold", Helvetica;
  --button-text-body-2-font-weight: 600;
  --button-text-body-2-font-size: 16px;
  --button-text-body-2-letter-spacing: -0.64px;
  --button-text-body-2-line-height: 139.9999976158142%;
  --button-text-body-2-font-style: normal;
  --button-text-body-3-font-family: "Montserrat-SemiBold", Helvetica;
  --button-text-body-3-font-weight: 600;
  --button-text-body-3-font-size: 14px;
  --button-text-body-3-letter-spacing: -0.56px;
  --button-text-body-3-line-height: 139.9999976158142%;
  --button-text-body-3-font-style: normal;
  --button-text-label-font-family: "Montserrat-SemiBold", Helvetica;
  --button-text-label-font-weight: 600;
  --button-text-label-font-size: 12px;
  --button-text-label-letter-spacing: -0.48px;
  --button-text-label-line-height: 139.9999976158142%;
  --button-text-label-font-style: normal;
  --additional-extra-1-font-family: "DelaGothic One-Regular", Helvetica;
  --additional-extra-1-font-weight: 400;
  --additional-extra-1-font-size: 40px;
  --additional-extra-1-letter-spacing: -0.8px;
  --additional-extra-1-line-height: 100%;
  --additional-extra-1-font-style: normal;
  --shadow-1: 0px 11.449064254760742px 11.449064254760742px 0px rgba(52, 41, 39, 0.04),
    0px 11.449064254760742px 68.69439697265625px 0px rgba(52, 41, 39, 0.04),
    0px 68.69439697265625px 68.69439697265625px 0px rgba(52, 41, 39, 0.04),
    0px 91.59251403808594px 91.59251403808594px 0px rgba(52, 41, 39, 0.04),
    0px 183.18502807617188px 183.18502807617188px 0px rgba(52, 41, 39, 0.12),
    0px 343.4719543457031px 343.4719543457031px 0px rgba(52, 41, 39, 0.08);
  --shadow-2: 0px 22.898128509521484px 45.79625701904297px -11.449064254760742px rgba(52, 41, 39, 0.08);
}
